@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<hr/>
<a href="https://www.linkedin.com/in/someshchandra/"><h3>Find on Linkedin</h3></a>

<hr/>